aplus==0.11.0
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
asgiref==3.3.4
astropy==4.2
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
boto3==1.16.57
botocore==1.19.57
bqplot==0.12.26
branca==0.4.2
bs4==0.0.1
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cssselect==1.1.0
cycler==0.10.0
dask==2021.1.0
decorator==5.0.7
defusedxml==0.7.1
Django==3.2
dominate==2.6.0
entrypoints==0.3
fake-useragent==0.1.11
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
flask-paginate==0.8.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
frozendict==1.2
future==0.18.2
geographiclib==1.50
geopy==2.1.0
google-services-api==0.0.8
greenlet==1.0.0
h5py==3.2.1
idna==2.10
ipydatawidgets==4.2.0
ipykernel==5.5.3
ipyleaflet==0.13.6
ipympl==0.7.0
ipython==7.22.0
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.5.0
ipyvuetify==1.6.2
ipywebrtc==0.6.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lazypredict==0.2.7
llvmlite==0.36.0
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.4.1
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.4.3
notebook==6.3.0
numba==0.53.1
numpy==1.19.5
packaging==20.9
pandas==1.2.0
pandocfilters==1.4.3
parse==1.19.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
progressbar2==3.53.1
prometheus-client==0.10.1
prompt-toolkit==3.0.18
psutil==5.8.0
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pyarrow==4.0.0
pycparser==2.20
pyee==8.1.0
pyerfa==1.7.1.1
Pygments==2.8.1
pyparsing==2.4.7
pyppeteer==0.2.5
pyquery==1.4.3
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.17.1
python-utils==2.5.1
pythreejs==2.3.0
pytz==2020.5
PyYAML==5.4
pyzmq==22.0.3
query==0.1.4
requests==2.25.1
requests-html==0.10.0
s3transfer==0.3.4
scikit-learn==0.24.1
scipy==1.6.0
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.12
sqlparse==0.4.1
stripe==2.56.0
tabulate==0.8.7
terminado==0.9.4
testpath==0.4.4
threadpoolctl==2.1.0
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
traittypes==0.2.1
tri.declarative==5.7.0
tri.form==7.5.0
tri.query==6.4.0
tri.struct==3.1.0
urllib3==1.26.2
visitor==0.1.3
w3lib==1.22.0
wcwidth==0.2.5
webdriver-manager==3.4.1
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
WTForms==2.3.3
xarray==0.17.0
